
# Host default to "localhost"
host = localhost

# Port default to "8080"
port = 8080

# Http keep alive connection default to false
alive = 

# Outout verbose information to stdout (or a file if value is a string) 
# about HTTP traffic (used by PopHbaseConnectionCurl)
verbose = 